@font-face {
    font-family: "Absans-Regular";
    src: url("./fonts/Absans-Regular.woff") format("woff2");
  }

@media screen and (max-width: 500px) {
    .container{
        padding: 0px 20px;
    }
}

html {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1 {
    font-family: "Absans-Regular";
    font-weight: 800;
    font-size: 30px;
    margin-top: 20px;
}

img.mainIcon {
    height: 150px;
    width: 150px;
}

img#loadingIMG {
    width: 50%;
    height: auto;
    object-fit: contain;
}

img.weatherCellData {
    width: 75px;
    height: 75px;
}

.container {
    text-align: center;
    display: flex;
    justify-self: stretch;
    flex-direction: column;
    gap: 5px;
    height: 100vh;
    margin: 0px;
}

.snapshot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-family: "Absans-Regular";
    font-weight: 700;
    border: 1px solid  black;

    justify-content: center;
    align-items: center;
    justify-self: center;

    padding: 5px;

    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.snapshotRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    flex-wrap: wrap;

    width: 100%;
}

.snapshotLabel {
    font-size: 25px;
}

.weatherValue {
    font-size: 25px;
}



.hidden {
    display: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 5px;

}

#githubLogo {
    height: 20px;
    border-radius: 10px;

}

.weather-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-row {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    height: minmax(fit-content, 100px);
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 85%;
    flex-wrap: wrap;
    
    
}
.weather-value {
    margin-left: auto;
    margin-right: 0;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.hourlyDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.weatherHourRow {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 85%;
    height: 150px;
    text-align: left;
    flex-wrap: wrap;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.weatherRowCellTitle{
    width: 75px;
    text-align: left;
}

.weatherRowTitle {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 85%;
    flex-wrap: wrap;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.weatherHourRow img {
    width: 75px
}

.icon {
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.weekForecastDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.weather-label {
    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.weatherCellData {
    width: 75px;
    flex-grow: 1;
    text-align: left;
}

.weatherCellData.icon {
    flex-grow: 0;
}

button.resetButton {
    border-radius: 10px;
    background-color: transparent;
    border-width: 3px;
    border-color: rgb(115, 61, 61);

    font-family: "Absans-Regular";
    font-size: 25px;
    font-weight: 800;
}

button.locationButton {
    border-radius: 10px;
    background-color: transparent;
    border-width: 3px;
    border-color: rgb(115, 61, 61);

    font-family: "Absans-Regular";
    font-size: 15px;
    font-weight: 800;
}

input#locationSearch {
    border-radius: 10px;
    border-width: 3px;

    font-family: "Absans-Regular";
    font-size: 15px;
    font-weight: 800;
}