@font-face {
    font-family: "Absans-Regular";
    src: url("./fonts/Absans-Regular.woff") format("woff2");
  }

html {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

p, h1, div {
    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 5px;
}

.hidden {
    display: none;
}

#loading {

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    gap: 5px;

}

#githubLogo {
    height: 25px;

}

.weather-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-row {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 75%;
    
    
}
.weather-value {
    margin-left: auto;
    margin-right: 0;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.hourlyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.weatherHourRow {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 75%;
    height: 100px;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.weatherRowTitle {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 75%;
    height: 100px;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.weatherHourRow img {
    height: 75px;
    width: 75px;
}

.weekForecastDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.hourlyRowTitle {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 75%;
    height: 75px;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.WeeklyRow {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 75%;
    text-wrap: wrap;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.weeklyRowCellTitle {
    font-size: 17px;
    font-weight: bold;
    min-width: 0;
    width: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.weather-label {
    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.weeklyWeatherCellData {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourlyWeatherCellData {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

.hourlyRowCellTitle {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: none;
    text-wrap: wrap;

    font-family: "Absans-Regular";
    font-weight: 600;
    font-size: 17px;
}

